# Ignore the working_data folder
working_data/

# Ignore virtual environments
.venv/
__pycache__/
.vscode/

# Ignore build files
dist/
build/
assets/
photos/

# Ignore .spec files if they aren't necessary
*.spec

# Ignore log files or other temporary files
*.log
*.html
*.tif
*.xlsx
*.txt
*.ico